.homeHeader{
    width: 100%;
    height: 300px;
    
}

.navBar{
    
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    
}

.navBar > *{
    display: inline;
    font-size: xx-large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.restaurants{
    border: 5px solid black;
    border-radius: 25px;
    padding: 10px;

}

.restaurants > *{
    text-decoration: none;
    margin-inline: 20px;
    
    
}

